.questionRow {
    background-color: rgb(230, 151, 151);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 40%;
  }
  
  .questionRow * {
    margin: 0;
    padding: 0;
  }
  
  
  .questionDelete {
    width: 5rem;
  }